@model IEnumerable<The_project.model.Student>

@{
    ViewData["Title"] = "show_student";
}
<style>
    a.info {
        text-decoration: none;
        background: green;
        padding: 10px 10px 14px;
        color: white;
        font-weight: 600;
        border-radius: 10px;
    }
</style>

<h1>show_student</h1>

<p>
    <a asp-action="Student">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
         @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                  
                    <td>
                        <a asp-action="Edit_student" class="info" asp-route-id="@item.Student_ID">Edit</a> |
                         
                        <a asp-action="Delete_student" class="info" asp-route-id="@item.Student_ID">Delete</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
