@model IEnumerable<The_project.model.Course>

@{
    ViewData["Title"] = "course";
}
<h1>course</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfessorID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null){
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfessorID)
            </td>
        </tr>
}
            }
    </tbody>
</table>
